.services-container {
    display:flex;
    flex-wrap: wrap-reverse;
    background-color: white;
    height: 90%;
    justify-content: center;
    justify-items: center;
    padding-top: 3vh;
    
}

.services-desc1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:45%;

}

.services-desc > h3 {
margin-bottom: 30px;
font-size: 28px;
}

.services-desc > p {
line-height: 1.5; 
}

.services-img1 {
height: 400px;
width: 450px;
display: flexbox;
align-self: flex-start;
overflow:hidden;
padding-right:50px;
mask-image:linear-gradient(to right,rgba(0,0,0,1.0) 50%,transparent 90%);
}
@media screen and (max-width:700px) {
    .services-container{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        justify-items: center;
        padding-top: 20px;
        margin-bottom: 50px;
        width: 100%;
    }
    .services-desc1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        width: 100%;
        padding: 20px;
        
    }
    .services-img1{
        padding-left: 0;
        width: auto;
        mask-image:linear-gradient(to top,rgba(0,0,0,1.0) 50%,transparent 90%);
       
    }
    .services-desc1 > p {
        padding-left: 10px;
        }
}