.div-form{
    max-width: 500px;
    margin: 0 auto;
}
.title-form{
font-weight: normal;
}
.mb-3{
    width: 100%;
}

.form-label{
font-size: 18px;
font-weight: normal;
}

.regi {
    text-align: justify;
    font-size: 5px;
}
