.div-form{
    max-width: 500px;
    margin: 0 auto;
}
.title-form{
font-weight: normal;
}
.mb-3{
    width: 100%;
}

.form-label{
font-size: 18px;
font-weight: normal;
}

.regi {
    text-align: justify;
    font-size: 5px;
}
.btn-main{
    position:relative;
    display:inline-block;
    width: auto;
    height: auto;
    background-color: #68c3cf;
    border:none;
    cursor: pointer;
    margin-left:45%;
    margin-top: 10%;
    min-width: 150px;
    border-radius: 29px;
}
.btn-main span{
    position:relative;
    display:inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top:0;
    left:0;
    width: 100%;
    padding:15px 20px;
    transition:0.3s;
}
.btn-main::before{
    background-color:#08b1b1 ;
    border-radius: 29px;
    transition: 0.3s ease-out;
    position: absolute;
    content: "";

}
.btn-main span{
    color:white ;
    
    transition: 0.2s 0.1s;
}
.btn-main span:hover{
    color: black;
    transition: 0.2s 0.1s;
}
.btn-main.hover-filled-slide-up::before{
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

}
.btn-main.hover-filled-slide-up:hover::before{
    height: 0%;
}