.cont-footer{
  position:absolute;
  
  width: 100%;
}
.title-footer{
  font-size: 2.3vh;
}
.text-center p-4{
  background-color: #DCDCDC;
}
.me-5 d-none d-lg-block{
  text-align: center;
}
.icons{
  align-items: center;
}
.col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 > p {
  margin-top: 0;
  padding-top: 0;
}
.text-reset{
  text-decoration: none;
}
a.mail-f{
  box-shadow: none;
  color: white;
  text-decoration: none;
}

.mail-f:hover{
  color:#68c3cf;
}
@media screen and (max-width: 700px){
  .title-footer{
    font-size: 2vh;
  }
}