.title-footer{
  font-size: 3vh;
}
.text-center p-4{
  background-color: #DCDCDC;
}
.me-5 d-none d-lg-block{
  text-align: center;
}
.icons{
  align-items: center;
}
.col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 > p {
  margin-top: 0;
  padding-top: 0;
}
.text-reset{
  text-decoration: none;
}
@media screen and (max-width: 700px){
  .title-footer{
    font-size: 2vh;
  }
}