.cover-container{
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0,6 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -2;
}

.cover-container > h1{
    color: white;
    font-size: 100px;
    font-family: 'Khand', sans-serif;
    text-shadow: 1px 1px 2px black;
}

.cover-container > p {
    margin-top: 8px;
    color: white;
    font-size: 32px;
    text-shadow: 1px 1px 2px black;
}



.img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -5;
}
.btn-main{
    position:relative;
    display:inline-block;
    width: auto;
    height: auto;
    background-color: #68c3cf;
    border:none;
    cursor: pointer;
    margin-block:inherit;
    min-width: 150px;
    justify-self: center !important;
}
.btn-main span{
    position:relative;
    display:inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top:0;
    left:0;
    width: 100%;
    padding:15px 20px;
    transition:0.3s;
}
.btn-main::before{
    background-color:#08b1b1 ;
    transition: 0.3s ease-out;
    position: absolute;
    content: "";
}
.btn-main span{
    color:white ;
    
    transition: 0.2s 0.1s;
}
.btn-main span:hover{
    color: black;
    transition: 0.2s 0.1s;
}
.btn-main.hover-filled-slide-up::before{
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

}
.btn-main.hover-filled-slide-up:hover::before{
    height: 0%;
}
@media (min-width: 770px){
    .img{
        display: none;
    }
}

@media (max-width: 770px) {
    .cover-container{
        padding: 0;
        height: 70vh;
        margin-top: 0;
        text-shadow: none;
    }

   
    .cover-container > p {
        color:black;
        text-shadow: none;
        margin-top: 50vh;
        font-size: 15px;
        text-align: center;
    }
   
}