.cont-cont{
    justify-content: center;
    flex: auto;
    margin: 0;
    padding: 0;
    
}
.todo{
    flex-flow: column nowrap;
    display: block;
    position: absolute;
    top: 20vw; 
    left: 10vw;
    align-content: space-evenly ;
    margin-left: 30px;
    height: 100%;
}
.portadaContacto{
    width: 100%;
    
}

.phone {
   display: block;
   flex-direction: row;
   margin-left: 10px;
   font-weight: bold;
   font-size: 2vw;
   color:white;
   text-shadow:1px 1px 2px black;
   text-align: left;
} 
.email{
   display: block;
  
   
   font-weight: bold;
   font-size: 2vw;
   color:white;
   text-shadow:1px 1px 2px black;
   text-align: left;
}
.titulo-portada{
    font-size:70px;
}
.cont-buttonC{
    display: block;
    justify-items: center;
    width: 100%;
    margin-left: 7vh;
    margin-top: 5vh;
    padding-bottom: 100px;
}
    a.link{
        box-shadow: none;
        color: white;
      }
      
      a:hover{
        color:#68c3cf;
      }
      
      
      a:active{
        color: #68c3cf;
      }

.btn-main-hover-filled-slide-up{
    top: -80px;
}
@media screen and (max-width:800px) {
    .cont-imgContacto{
<<<<<<< HEAD
        height: 50vw;
=======
<<<<<<< HEAD
        height: 100vw;
        overflow: hidden;
    }
    .portadaContacto{
        top:0vh;
        filter:blur(0px);
        width: auto;
        height: 35vh;
        overflow: hidden;
=======
        height: 40vw;
>>>>>>> 9569b88c5cd1b7511eb6170b04247786ddf4c69c
        width: auto;
    }
    .titulo-portada{
        font-size:x-large;
        top:10vh;
        padding-left: 15vh;
    }
    .portadaContacto{
        top:0vh;
        filter:blur(2px);
        height: 100%;
        width: 100%;
>>>>>>> 7f49cfad70c948c5e1e5a5972ffa9f855ab9aca1
    }
    .todo{
        display: block;
        top:15vh;
        text-align: center;
<<<<<<< HEAD
        font-size: 4vw;
        
        margin: 0;
        padding-left: 0;
=======
        font-size: 2vw;
        width: 90%;
        margin: 0 10vh;
<<<<<<< HEAD
    }
    .cont-buttonC{
        margin-left: 15vh;
        top:90vh;
    }
    .phone {
       font-size: 2vw;
       display: block;
       position: absolute;
       top:10vh;
     } 
     .email{
        font-size: 2vw;
        display: block;
        position: absolute;
        top:10vh;
     }
=======
        
    
>>>>>>> 7f49cfad70c948c5e1e5a5972ffa9f855ab9aca1
    }
    .imgCont1{
        width: 50px;
    }
    .email {
        font-size: 4vw;
    }
    .phone{
        font-size: 3vw;
    }
    
   
>>>>>>> 9569b88c5cd1b7511eb6170b04247786ddf4c69c
}