.cont-todo{
    justify-content: center;
    flex: auto;
    margin: 0;
    padding: 0;
    
}
.todo{
    flex-flow: column nowrap;
    display: block;
    position: relative;
    top: -500px; left: 200px;
    align-content: space-evenly ;
    margin-left: 30px;
}
.portadaContacto{
    width: 100%;
    height: 110vh;
}

.phone {
   display: block;
   padding-left: 47px;
   font-weight: bold;
   font-size: 25px;
   color:white;
   text-shadow:1px 1px 2px black;
} 
.email{
   display: block;
   padding: 20px;
   font-weight: bold;
   font-size: 25px;
   color:white;
   text-shadow:1px 1px 2px black;
}
.titulo-portada{
    font-size:70px;
}
.cont-buttonC{
    display: block;
    justify-items: center;
    width: 100%;
    margin-left: 2vw;
    padding-bottom: 100px;
}
    a{
        box-shadow: none;
        color: #1c7eab;
      }
      
      a:hover{
        color:#68c3cf;
      }
      
      
      a:active{
        color: #68c3cf;
      }

.btn-main-hover-filled-slide-up{
    top: -80px;
}
@media (max-width:800px) {
    .cont-imgContacto{
        height: 55vw;
    }
    .portadaContacto{
        top:0vh;
        filter:blur(2px);
    }
    .todo{
        display: block;
        align-items: center;
        text-align: center;
        font-size: 3vw;
        width: 10%;
        margin: 0;
        padding-left: 0;
    }
}