.cont-todo{
    justify-content: center;
    flex:auto;
    justify-items: center;
    
}
.cont-img{
    display:block;
    overflow:hidden ;
    width: 100%;
    height: 30vw;
    border:0;
    margin-bottom: 70px;
}
.cont-texto{
    width: 70%;
    top:10vh;
}

.portada{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    top:-30vh;
    filter:blur(2px);
    float: initial;
    text-align: center;
    
}

.titulo-portada{
    display: flex;
    position:absolute;
    top:15vh;
    color:white;
    padding-left: 38vw;
    text-align: center;
    text-shadow:1px 1px 2px black;
    
}
.texto{
    display: flex;
    position:absolute;
    top:25vh;
    color: white;
    text-shadow:1px 1px 2px black;
    text-align: center;
    font-size:2vw;
    margin:0 10vh;
    
}
.cont-button{
    display:block;
    position:relative;
    width: 100%;
    justify-items: center;
    margin-left: 45vw;
    padding-bottom: 100px;
}

@media screen and (max-width:800px) {
    .cont-img{
        height: 55vw;
    }
    .portada{
        top:0vh;
        filter:blur(2px);
    }
    .texto{
        font-size: 3vw;
    }
    .cont-texto{
        width: 90%;
        margin:0 3vh;
    }
}