.cont-todo{
    justify-content: center;
    flex: auto;
}

.cont-img{
    display:block;
    overflow:hidden ;
    width: 100%;
    height: 400px;
    border:0;
}
.soluPortada{
    width: 100%;
    position: relative;
    padding: 0;
    top:-40vh;
    filter:blur(2px);
    
}
.titulo-portada{
    display: flex;
    position:absolute;
    top:30vh;
    color:white;
    padding-left: 40%;
    text-shadow:1px 1px 2px black;
    
}

.texto{
    display: flex;
    position:absolute;
    top:30vh;
    color: white;
    text-shadow:1px 1px 2px black;
    text-align: center;
    font-size:xx-large;
}

.btn-main{
    position:relative;
    display:inline-block;
    width: auto;
    height: auto;
    background-color: #68c3cf;
    border:none;
    cursor: pointer;
    margin-left:45%;
    min-width: 150px;
}
.btn-main span{
    position:relative;
    display:inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top:0;
    left:0;
    width: 100%;
    padding:15px 20px;
    transition:0.3s;
}
.btn-main::before{
    background-color:#08b1b1 ;
    transition: 0.3s ease-out;
    position: absolute;
    content: "";
}
.btn-main span{
    color:white ;
    
    transition: 0.2s 0.1s;
}
.btn-main span:hover{
    color: black;
    transition: 0.2s 0.1s;
}
.btn-main.hover-filled-slide-up::before{
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

}
.btn-main.hover-filled-slide-up:hover::before{
    height: 0%;
}