 

.btn{
    border-radius: 0;
}

.btn.dropdown-toggle{
    background-color: #1c7eab;
    border-color:#1c7eab;

}
.btn:hover{
    background-color: #68c3cf;
    border-color:#68c3cf
}
.show > .btn-primary.dropdown-toggle{
    background-color: #1c7eab;
    border-color:#1c7eab;
    box-shadow: 0;
}
.btn-primary:focus{
    background-color: #1c7eab;
    color:white;
    box-shadow: none;
}

