.about-container {
    margin-top:10vh;
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    height: 90%;
    justify-content: center;
    justify-items: center;
    padding-top: 1vh;
}

.about-desc1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:45%;

}

.about-desc > h3 {
margin-bottom: 30px;
font-size: 28px;
}

.about-desc > p {
line-height: 1.5; 

}

.about-img1 {
height: 400px;
width: 450px;
display: flexbox;
align-self: flex-end;
overflow:hidden;
padding-left:50px;
mask-image:linear-gradient(to left,rgba(0,0,0,1.0) 50%,transparent 90%);
}


@media screen and (max-width: 700px) {
    .about-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        margin-top: 0;
        padding-bottom: 2vh;
        margin-bottom: 10px;
    }
    .about-desc1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        width: 100%;
        padding: 20px;
    }
    .about-img1{
        padding-left: 0;
       
        width: auto;
        mask-image:linear-gradient(to top,rgba(0,0,0,1.0) 50%,transparent 90%);
       
    }
    .about-desc > p {
        padding-left: 10px;
        }
}
