*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;;

}
.idioma {
    float: right;
    margin: 15px;
    position: static;
    width: 10%;
    background-color: transparent;
}
